<% var local="http://localhost:5000/" %> 

<footer style="margin-top: 80px;">
    <section class="footer-top" >
        <div class="content-footer">
                <div class="box box1-footer">
                    <div class="flex-service-text2">
                        <h1>Delightful Experience</h1>
                        <p class="tag_p">Nesting close by to our Tiroran Estate, these legendary birds are the inspiration behind our
                            family-owned Whitetail brand. Just like its namesake,</p>
                            <div>
                                <img src="<%- local %>img_default/signature-1-e1592385747477.png" alt="">
                            </div>
                       </div>
                </div>
                <div class="box box2-footer"></div>
                <div id="brand-footer">
                    <img src="<%- local %>img_default/since_1997.png" alt="">
                </div>
        </div>
       
        <section class="footer-center">
                <div class="content-footer-center">
                        <div>
                            <div class="image-footer-center part1">
                               <div>
                                <img src="<%- local %>img_default/icon_vintage_compass.png" alt="">
                                <p><label>Openning Hours</label><br>11.30AM – 2.30PM</p>
                               </div>
                            </div>
                            <div class="image-footer-center  part2">
                                <div>
                                    <img src="<%- local %>img_default/icon_vintage_phone.png" alt="">
                                    <p><label>Openning Hours</label><br>11.30AM – 2.30PM</p>
                                </div>
                            </div>
                            <div class="image-footer-center part3">
                               <div>
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-instagram-square"></i>
                                <i class="fab fa-twitter"></i>
                               </div>
                            </div>
                            
                        </div>
                </div>
        </section>
</footer>