@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }

*,
*::before
, *::after {
  box-sizing: border-box; }

:root {
  --background_body:rgb(5, 4, 4);
  --color_h1:red; }

body {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  display: inline-block;
  text-decoration: none; }

img {
  max-width: 100%;
  object-fit: cover; }
