<% 
    let save_string="";
    let local="http://localhost:5000/"
    data.forEach((curren_value,index) => {
        save_string+=`
        <tr>
            <th scope="row">${index}</th>
            <td>${curren_value.name}</td>
            <td>${curren_value.name_english}</td>
            <td><img src="${ local +curren_value.image.name_file}" style="width: 70px; height: 70px;" alt="${curren_value.name_english}"></td>
            <td>${curren_value.quantity}</td>
            <td>${curren_value.price}</td>
            <td style="text-align: center;">
               <div >
                <form action="/product/${curren_value._id}?_method=DELETE" method="POST" style="display: inline-block;">
                    <button class="btn btn-danger">Delete</button></form>

                <a href="/product/${curren_value._id}/update" class="btn btn-primary" href="" target="_self">update</a></td>
                </div>
          </tr>
        `
    });
%> 
<style>
    th,td{
        vertical-align: middle;
        text-align: center;
    }
</style>

<section style="max-width: 970px;margin: 0 auto; margin-top: 20px;">
    <table class="table" >
        <thead  >
          <!-- <a ></a> -->
          <tr>
            <th scope="col" >#</th>
            <th scope="col">name</th>
            <th scope="col">nameEnglish</th>
            <th scope="col">image</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
            <th scope="col"></th>
          </tr>
        
        </thead>
        <tbody>
         <%- save_string %> 
        </tbody>
      </table>
      <a  href="/product/add" class="btn btn-primary">create categories</a>
</section>